.list__text {
    font-size: 1.1em;
    
}
.list__text--answered {
    opacity: .3;
}
.list__text--active {
    color: #009688;
}
.list__text--current {
    color: #212121;
}
.radio {
    display: flex;
    color: #212121;
}
.radio .active {
    color: #212121;
}
.radio .col {
    padding-left: 0;
}
.content__button {
    width: 100%;
}
.answers {
    width:100%;
    padding-left: 0 !important;
}
.answers__button {
    padding-top:1em;
}
