.active {
    font-size: 1.5em !important;
}
#nav-mobile, .button-collapse {
    display: none;
}
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	opacity: 0.5;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
.p-relative {
	position: relative;
}